{% extends 'master.html' %}

{% block content %}
<h1 class="h3 mb-3 font-weight-normal">Recuperar contraseña</h1>
<p>Se te enviará un correo electrónico al correo electronico que escribas:</p>
<form method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
        <div class="form-group">
            {{ form.non_field_errors }}
        </div>
    {% endif %}
    {% for field in form.visible_fields %}
    <div class="form-group">
        {{ field.label_tag }}
        {{ field }}
        {{ field.errors }}
        <div class="helpText">{{ field.help_text|safe }}</div>
    </div>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block" type="submit">Recuperar contraseña</button>
</form>

{% endblock %}